:root {
  /* breaking widths */
  --width-1: 900px;

  /* fonts */
  --regular: Verdana, Geneva, Tahoma, sans-serif;
  --roboto: "Roboto", sans-serif;
  --font: var(--roboto);
  letter-spacing: 1px;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    /* light-color */
    --background: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 15%);
    --border: hsl(0, 0%, 50%);
  }

  img {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark-color */
    --background: hsl(220, 100%, 3%);
    --text: hsl(0, 0%, 90%);
    --border: hsl(0, 0%, 75%);
  }

  img {
    opacity: 0.7;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--text);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

a {
  color: #ff39ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
